
.project-images > .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.project-images > .grid:nth-of-type(1){
  
}
.image1,.image2,.image3{
    border: 2px solid rgb(144, 196, 22);
    
}
.image1{
  grid-column: 1/3;
    grid-row: 1/3;
}