*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
.container{
    overflow: visible;
    margin:auto;
    max-width: 1200px;
    padding: 30px;
}
.grid{
    display: grid;
    /* grid-template-columns: 100px 200px; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, 
    minmax(360px, 1fr));
    gap: 1em;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 1px solid #ff1e1e;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img{
    width: 100%;
    object-fit: cover;
}
.item{
    background: steelblue;
    color: #fff;
    padding: 20px;
    border:1px solid skyblue;
}
/* .item:nth-of-type(1){
    grid-column: 1/3;
    grid-row: 1/3;
} */
 @media (max-width: 1200px){
body{
    background-color: grey;
}
}
@media (max-width: 992px){
body{
    background-color: antiquewhite;
}
}

@media (max-width: 576px){
    body{
        background-color: gray;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    .item:nth-of-type(1){
    /* grid-column: 1;*/
    /* grid-row: 1;  */
}
}

