/* Hero Section */
.hero-wrap {
  padding: 32px 0;
}
.description {
  max-width: 760px;
}
/* Gallery Section */
.gallery-section {
  padding: 64px 120px;
}
.project-image {
  cursor: pointer;
  max-width: 800px;
  padding: 24px 32px 0;
  background: linear-gradient(#e6e7eb, #ffdec4);
}
.views {
  display: flex;
  gap: 16px;
}
.btn-view {
  padding: 8px 16px;
  background: var(--accent);
  border-radius: 32px;
}
.btn-view h5 {
  color: var(--background);
}
.btn-view:hover {
  opacity: 0.8;
  cursor: pointer;
}
.description {
  max-width: 700px;
  text-align: center;
}
.live-site {
  color: var(--accent);
}
.live-site:hover {
  color: var(--accent-hover);
}
.live-site > img {
  transform: rotate(135deg);
  width: 16px;
}
/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
.hidden {
  display: none;
}
.close-modal {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: white;
  border-radius: 50%;
  padding: 0 6px;
}
.close-modal:hover {
  color: var(--accent);
}
.prev,
.next {
  border: none;
  background: var(--background);
  border-radius: 50%;
  border: 1px solid white;
  padding: 14px;
}
.next img {
  transform: rotate(180deg);
  /* left: 0; */
}
.prev > img,
.next > img {
  width: 24px;
  color: #333;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}
.next:hover,
.prev:hover {
  background-color: #ff9946;
  opacity: 0.8;
  cursor: pointer;
}
.modal {
  position: relative;
  z-index: 500;
  margin: auto;
  height: 100%;
}
.modal>.content-4{
  height: 100%;
}
.modal>.content-4>.flex{
  height: 100%;
}
.img {
  height: 100%;
  /* max-height: 730px; */
  overflow: auto;
}
.modal-container {
  display: none;
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 3% 5%;
  /* background-color: rgba(0, 0, 0, 0.856); */
  backdrop-filter: blur(3px);
  height: 100vh;
}
.modal-container.active {
  display: flex;
}
.overlay {
  background-color: #e6e7eb;
  position: absolute;
  inset: 0;
  z-index: 50;
}
.carousel {
  display: none;
  animation-name: fade;
  animation-duration: 1.5s;
}
.carousel.active {
  display: block;
}
.view-text {
  text-align: center;
}
.view-text.active {
  display: block;
}
@media (max-width: 992px) {
  /* Hero Section */
  .hero-wrap {
    padding: 32px 0;
  }
  /* Gallery Section */
  .gallery-section {
    padding: 64px 120px;
  }
  .project-image {
    cursor: pointer;
    max-width: 800px;
    padding: 24px 32px 0;
    background: linear-gradient(#e6e7eb, #ffdec4);
  }
  .views {
    display: flex;
    gap: 16px;
  }
  .btn-view.active h5 {
    color: var(--background);
  }
  .btn-view {
    padding: 8px 16px;
    background: var(--background);
    border-radius: 32px;
  }
  .btn-view h5 {
    color: var(--accent);
  }
  .btn-view.active {
    background: var(--accent);
  }
  .btn-view:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  /* Hero Section */
  .hero-wrap {
    padding: 32px 0;
  }
  /* Gallery Section */
  .gallery-section {
    padding: 64px 120px;
  }
  .project-image {
    cursor: pointer;
    max-width: 800px;
    padding: 24px 32px 0;
    background: linear-gradient(#e6e7eb, #ffdec4);
  }
  .views {
    display: flex;
    gap: 16px;
  }
  .btn-view.active h5 {
    color: var(--background);
  }
  .btn-view {
    padding: 8px 16px;
    background: var(--background);
    border-radius: 32px;
  }
  .btn-view h5 {
    color: var(--accent);
  }
  .btn-view.active {
    background: var(--accent);
  }
  .btn-view:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .modal-container{
    padding:5%;
  }
  .modal .flex.gap-2 {
    gap: 16px;
  }
  .prev > img,
  .next > img {
    width: 16px;
  }
  .prev,
  .next {
    padding: 8px;
  }
  .close-modal {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  /* Hero Section */
  .hero-wrap {
    padding: 32px 0;
  }
  /* Gallery Section */
  .gallery-section {
    padding: 64px;
  }
  .project-image {
    cursor: pointer;
    max-width: 800px;
    padding: 12px 16px 0;
  }

  .views {
    display: flex;
    gap: 16px;
  }
  .btn-view.active h5 {
    color: var(--background);
  }
  .btn-view {
    padding: 6px 12px;
    background: var(--background);
    border-radius: px;
  }
  .btn-view h5 {
    color: var(--accent);
  }
  .btn-view.active {
    background: var(--accent);
  }
  .btn-view:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .modal-container{
    padding: 6%;
  }
  .close-modal {
    font-size: 1.5em;
  }
}
