
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{
    --main-bg:#CCD8FF;
    --secondary-bg:#f9efe7;
    --button-color:#8EC77C;
    --text-color:#fff;
    --secondary-color:#5562E9;
    --section-head2:#D0E955;
    --dark-gray:#A09EB5;
    --linear-gradient-color: linear-gradient(45deg, #519ECD, #fff);
    --headline-small:1.5rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '';
}
img{
    width: 100%;
    height: auto;
}
.hero{
    padding: 24px;
    opacity: 1;
    /* margin-bottom: 80px; */
}
.hero-wrap{
    padding: 0 116px;
}
.hero-content{
    padding: 8vh 0 36px;
}
.navbar{
    padding-top: 16px;
}
.nav > .yellow-strip{
    padding: 4px ;
}
.nav > .yellow-strip:hover{
    background-color: #ffef9e;
}
.logo{
  font-size: 22px;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  line-height: 160%;
}
.left{
    max-width: 512px;
}
.image-wrapper{
  position: relative; 
    
}
.image-border{
background: linear-gradient(45deg, #CFC6BA,#C6B19B, #A48F6E) ;
  display: inline-block;
/* border: 2px solid #1f1f1f; */
}

.image-container{
   transform: translate(-16px,-16px);
   transition: 0.2s;
 
}
.showcase-text{
    animation: slideInFromLeft 1s ease-in;
}
.showcase-image{
   animation: slideInFromRight 1s ease-in;
   margin-top: 16px;
}
.image-container{
    max-width: 300px;
}

.hero-wrap{
    background-color: var(--secondary-bg);

}
a{
    color:black;
    text-decoration: none;
}
.chat-app{
width: 376px;
}
.dot-pattern{
width: 106px;
transform:translateY(345px);
}
.nav-link{
transition: all 0.2s;
}
.mockup-column{
position: relative;
}
.overlay{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(172, 172, 172, 0.2);
    transition: 0.2s;

}
.arrow-right{
    width: 16px;
    margin-left: 2px;
    margin-top: 3px;
}
.mockup-hover{
    transition: .2s;
    margin: 8px;
opacity: 0;
}
.mockup-column:hover .overlay{
    opacity: 100%;
    cursor: pointer;
    
}
.mockup-column:hover .mockup-hover{
    opacity: 100%;
    cursor: pointer;
    
}
.footer{
background-color: var(--secondary-bg);

}

/* Animations */
@keyframes slideInFromLeft {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0);
    }
}
@media(max-width:767px){
    .hero-wrap{
        padding: 0 64px;
    }
}
@media(max-width:576px){
    .hero-wrap{
        padding: 0 32px;
    }
    .image-container{
   transform: translate(-8px,-8px);
   transition: 0.2s;
 
}
}