/* Utilities */
/* SECTIONS */

section{
    padding: 80px 140px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
/* CONTAINERS */
.container{
    overflow: visible;
    margin:auto;
    max-width: 1200px;
}

/* lAYOUTS */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
  .grid > :nth-child(2){
    justify-self: center;
  }
.grid-3col{
   display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}
.grid-3col-1-3{
   display: grid;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
}
.grid-center{
      justify-content: center;
    align-items: center;
}

.gap-1{
gap: 1em;
}
.gap-2{
gap: 1.5em;
}
.gap-3{
gap: 2em;
}
.gap-4{
gap: 3em;
}
.gap-5{
gap: 4em;
}

.gapY-1{
column-gap: 1em;
}
.gapY-2{
column-gap: 1.5em;
}
.gapY-3{
column-gap: 2em;
}
.gapY-4{
column-gap: 3em;
}
.gapY-5{
column-gap: 4em;
}

.gapX-1{
row-gap: 1em;
}
.gapX-2{
row-gap: 1.5em;
}
.gapX-3{
row-gap: 2em;
}
.gapX-4{
row-gap: 3em;
}
.gapX-5{
row-gap: 4em;
}
.maxw-80{
  max-width: 80%;
}
.center{
  margin: auto;
}
.flex{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 60px;
}
.flex-c{
    flex-direction: column;
}
.flex-around{
    justify-content: space-around;
    align-items: center;
}
.flex-start{
    align-items: flex-start;
}
.flex-between{
    justify-content: space-between;
    align-items: center;
}

/* BUTTONS */
.button-wrapper{
  position: relative; 
    
}
.button-border{

  display: inline-block;
width: auto;
border: 2px solid #000;
}

.button{
   background:black ;
    border: 0;
    color: #fff;
  /* position: absolute; */
  padding: 12px 3rem;
   transform: translate(-8px,-8px);
   transition: 0.2s;
 
}
.button:hover{
    /* transform: scale(0.97); */
    cursor: pointer;
    background: #111 ;
  transform: translate(0);
}
.button-text{
    font-family: "Mulish", sans-serif;
  font-weight: 700;
  line-height: 160%;
  font-size: 15px;
}
/* TEXT STYLES */
.yellow-strip{
background-color: #ffe872;
height: 8px;
margin-top: -7%;
}
.heading{
    font-family: 'Abril Fatface';
}
.heading.xl{
  font-size: 56px;
  margin: 0 0 20px 0;
  line-height: 130%;
}
.heading.lg{
 font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 40px;
}
.heading.md{
  font-size: 7vh;
  margin: 0 0 20px 0;
  line-height: 130%;
}

.title{
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  line-height: 110%;
  color: #b7b4b9;
  letter-spacing: .2em;
  text-transform: uppercase;
}
.my-title{
     font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 40px;
}
.body{
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  line-height: 170%;
}
.body.lg{
  font-size: 20px;
}
.body.lg.bold{
  font-weight: 700;
}
.body.md{
  font-size: 15px;
}
.body.md.bold{
  font-weight: 700;
}
.body.sm{
  font-size: 13px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  line-height: 160%;
}
.body.sm.bold{
  font-weight: 700;
}

.text-center{
    text-align: center;
}


/* COLORS */
.button-color{
    color: var(--button-color);
}
.main-body-color{
    color: var(--main-body-color);
}
.main-body-container{
    color: var(--main-body-container);
}




/* EFFECTS */
.umbra{
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14) ;
}
.penumbra{
    box-shadow:0 6px 30px 5px rgba(0, 0, 0, 0.12) ;
}
.drop-shadow{
box-shadow: 0, 4px, 4px 0, rgba(0, 0, 0, 0.25);
}




/* Margin */
.my-1 {
    margin: 1rem 0;
  }

  .my-2 {
    margin: 1.5rem 0;
  }
  
  .my-3 {
    margin: 2rem 0;
  }
  
  .my-4 {
    margin: 3rem 0;
  }
  .mx-1{
    margin: 0 5px;
  }
  .mx-2{
    margin: 0 10px;
  }
  .mx-3{
    margin: 0 15px;
  }
  .mx-4{
    margin: 0 20px;
  }
  .mb-1 {
    margin-bottom: 0.5rem;
  }
  
  .mb-2 {
    margin-bottom: 1rem;
  }
  
  .mb-3 {
    margin-bottom: 1.5rem;
  }
  
  .mb-4 {
    margin-bottom: 2rem;
  }
/* Padding */
.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}
.py-4{
    padding: 4rem 0;
}

@media(max-width:992px) {
  /* Layouts */

    .grid{
    display: block;
    width: 100%;
  }
  .grid >:nth-child(2){
    margin-top: 60px;
  }
    section{
    padding-top: 20px;
}
/* TEXT STYLES */

.heading{
    font-family: 'Abril Fatface';
}
.heading.xl{
  font-size: 48px;
  margin: 0 0 10px 0;
  line-height: 130%;
}
.heading.lg{
 font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 36px;
}
.heading.md{
  font-size: 7vh;
  margin: 0 0 20px 0;
  line-height: 130%;
}
.button-text{
    font-family: "Mulish", sans-serif;
  font-weight: 700;
  line-height: 160%;
  font-size: 15px;
}
.title{
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  line-height: 110%;
  color: #b7b4b9;
  letter-spacing: .2em;
  text-transform: uppercase;
}
.my-title{
     font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 32px;
}
.body{
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  line-height: 180%;
}
.body.md{
  font-size: 15px;
}
.body.md.bold{
  font-weight: 700;
}
.body.sm{
  font-size: 13px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  line-height: 160%;
}



}


@media(max-width:576px) {
    /* Layouts */
  section{
    padding: 20px 32px;
}
.flex{
  flex-direction: column;
  gap: 8px;
}
/* BUTTONS */

.button{
   background:black ;
    border: 0;
    color: #fff;
  /* position: absolute; */
  padding: 8px 2rem;
   transform: translate(-4px,-4px);
   transition: 0.2s;
 
}
.button-text{
  font-size: 13px;
}
/* TEXT STYLES */

.heading{
    font-family: 'Abril Fatface';
}
.heading.xl{
  font-size: 40px;
  margin: 0 0 10px 0;
  line-height: 130%;
}
.heading.lg{
 font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 36px;
}
.heading.md{
  font-size: 7vh;
  margin: 0 0 20px 0;
  line-height: 130%;
}
.button-text{
    font-family: "Mulish", sans-serif;
  font-weight: 700;
  line-height: 160%;
  font-size: 15px;
}
.title{
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  line-height: 110%;
  color: #b7b4b9;
  letter-spacing: .2em;
  text-transform: uppercase;
}
.my-title{
     font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 32px;
}
.body{
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  line-height: 180%;
}
.body.md{
  font-size: 15px;
}
.body.md.bold{
  font-weight: 700;
}
.body.sm{
  font-size: 13px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  line-height: 160%;
}


}
