/* Utilities */

.none{
  display: none;
}
/* SECTIONS */

section{
    padding: 112px 64px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
/* CONTAINERS */
.container{
    overflow: hidden;
    margin:auto;
    max-width: 1320px;
}
/* CARDS */
.card-text,.card-image{
  border-radius: 16px;
}
.card-text{
  padding: 32px;
}
/* lAYOUTS */
.row{
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
  gap: 32px;
}
.row>*{
  flex: 1;
}
.card-stats-row{
    display: grid;
  align-items: center;
  justify-content: center;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
}
.component-h{
  justify-content: center;
  display: flex;
  gap: 80px;
  width: 100%;
}
.component-h>*{
  flex: 1;
}
.component-h-2-1{
  display: flex;
  gap: 64px;
  width: 100%;
  flex:2 1;
}
.center{
  justify-content: center;
  align-items: center;
}
.flex{
    display: flex;
}
.flex-v{
    display: flex;
    flex-direction: column;
}
.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-start{
    align-items: flex-start;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.align-center{
  align-items: center;
}
.component-v{
  display: flex;
  flex-direction: column;
  gap: 80px;
  height: 100%;
}
.content-0{
  display: flex;
  flex-direction: column;
  gap: 64px;

}
.content-1{
  display: flex;
  flex-direction: column;
  gap: 32px;

}
.content-2{
  display: flex;
  flex-direction: column;
  gap: 24px;

}
.content-3{
  display: flex;
  flex-direction: column;
  gap: 16px;

}
.content-4{
  display: flex;
  flex-direction: column;
  gap: 8px;

}
.content-5{
  display: flex;
  flex-direction: column;
  gap: 4px;

}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:80px

}
.grid-1-2{
   display: grid;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
}
.grid-3col{
   display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}
.grid-3col-1-3{
   display: grid;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
}
.grid-center{
    justify-content: center;
    align-items: center;
}
.center{
  align-items: center;
  justify-content: center;
}
.gap-0{
gap: 0.5em;
}
.gap-1{
gap: 1em;
}
.gap-2{
gap: 2em;
}
.gap-3{
gap: 3em;
}
.gap-4{
gap: 4em;
}
.gap-5{
gap: 5em;
}

.gapY-1{
column-gap: 1em;
}
.gapY-2{
column-gap: 2em;
}
.gapY-3{
column-gap: 3em;
}
.gapY-4{
column-gap:4em;
}
.gapY-5{
column-gap: 5em;
}

.gapY-15{
column-gap: 1.5em;
}
.gapY-25{
column-gap: 1.5em;
}
.gapY-35{
column-gap: 3.5em;
}
.gapY-45{
column-gap: 4.5em;
}
.gapY-55{
column-gap: 5.5em;
}

.gapX-1{
row-gap: 1em;
}
.gapX-2{
row-gap: 2em;
}
.gapX-3{
row-gap: 3em;
}
.gapX-4{
row-gap: 4em;
}
.gapX-5{
row-gap: 5em;
}

.gapX-15{
row-gap: 1.5em;
}
.gapX-25{
row-gap: 2.5em;
}
.gapX-35{
row-gap: 3.5em;
}
.gapX-45{
row-gap: 4.5em;
}
.gapX-55{
row-gap: 5.5em;
}
.maxw-80{
  max-width: 80%;
}

/* BUTTONS */
.btn{
background:var(--accent);
border: 0;
color: var(--background);
padding: 12px 16px;
border-radius: 8px;
cursor: pointer;
display: flex;
width: fit-content;
align-items: center;
}
.btn:hover{
  background-color: var(--accent-hover);
}
.button-secondary{
   background:transparent;
    /* 0E1827 */
    border: 1px solid rgba(2, 6, 6, 0.15);
    color: var(--complimentary);
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
}
.button-secondary:hover{
  background-color: rgb(150, 150, 15,.15);
  /* color: var(--complimentary); */
}
.button-text{
  border: none;
  letter-spacing: 4%;
  background: none;
  cursor: pointer;
}
.button-text:hover{
  color: lightgray;

}


/* TEXT STYLES */
h1,h2,h3,h4,h5{
  color: var(--accent);
}
h1{
font-family: 'Abril Fatface';
font-size:56px;
}
h2{
  font-family: 'Abril Fatface';
font-size: 40px;
font-weight: 400;
line-height: 109.3%;
}
h3{
font-family: "Abril Fatface";
font-size: 32px;
font-weight: 400;
line-height: 109.3%;
}
h4{
font-size: 28px;
font-weight: 500;
line-height: 124%;
}
h5{
font-weight: 400;
font-size:20px;
line-height: 160%;
}
.h5-medium{
font-size:20px;
line-height: 160%;
font-weight:500;
}
.h5-bold
{
  font-weight: 800;
}
.h5-spaced{
font-weight: 500;
letter-spacing: 10%;
}
.paragraph{
font-weight: normal;
font-size: 18px;
line-height: 180%;
}
.p-medium{
  font-weight: 500;
  font-size: 18px;
line-height: 180%;
}
.p-small{
  font-size: 13px;
  line-height: 180%;
}
.text-center{
    text-align: center;
}

.icon{
    width: 48px;
    height: 48px;
}
.m-icon{
  width: 32px;
  height: 32px;
}
.s-icon{
  width: 24px;
  height: 24px;
}
/* COLORS */
.button-color{
    color: var(--button-color);
}
.main-body-color{
    color: var(--main-body-color);
}
.main-body-container{
    color: var(--main-body-container);
}


/* EFFECTS */
.umbra{
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14) ;
}
.penumbra{
    box-shadow:0 6px 30px 5px rgba(0, 0, 0, 0.12) ;
}
.drop-shadow{
box-shadow: 0, 0, 4px 0, rgba(0, 0, 0, 0.25);
}




/* Margin */
.my-1 {
    margin: 1rem 0;
  }

  .my-2 {
    margin: 1.5rem 0;
  }
  
  .my-3 {
    margin: 2rem 0;
  }
  
  .my-4 {
    margin: 3rem 0;
  }
  .mx-1{
    margin: 0 5px;
  }
  .mx-2{
    margin: 0 10px;
  }
  .mx-3{
    margin: 0 15px;
  }
  .mx-4{
    margin: 0 20px;
  }
  .mb-1 {
    margin-bottom: 0.5rem;
  }
  
  .mb-2 {
    margin-bottom: 1rem;
  }
  
  .mb-3 {
    margin-bottom: 1.5rem;
  }
  
  .mb-4 {
    margin-bottom: 2rem;
  }
/* Padding */
.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}
.py-4{
    padding: 4rem 0;
}

.px-1{
    padding: 0 1rem;
}
.px-2{
    padding: 0 2rem;
}
.px-3{
    padding: 0 3rem;
}
.px-4{
    padding: 0 4rem;
}
@media(max-width:992px) {
    /* LAYOUTS */
  .row{
  flex-direction: column;
  }
.grid-1-2{
  grid-template-columns: 1fr;
}
.component-h,.component-h-2-1{
 flex-direction: column;
 gap: 32px;
}
.grid{
    display: block;
    width: 100%;
}
/* TEXT STYLES */
h1,h3,h4,h5{
  color: var(--accent);
}
h1{
font-size:48px ;
}
h2{
font-size: 32px;
font-weight: 400;
line-height: 109.3%;
}
h3{
font-family: "Abril Fatface";
font-size: 28px;
font-weight: 400;
line-height: 109.3%;
}
h4{
font-size: 24px;
font-weight: 500;
line-height: 124%;
}
h5{
font-weight: 400;
font-size:18px;
}
.h5-medium{
font-size:18px;
font-weight:500;
}
.h5-bold
{
  font-weight: 600;
}
.h5-spaced{
font-weight: 500;
letter-spacing: 10%;
}
.paragraph{
font-weight: normal;
font-size: 16px;
}
.p-medium{
  font-size: 16px;
}
.p-small{
  font-size: 13px;
  line-height: 180%;
}
  
}


@media(max-width:768px) {

section{
    padding: 64px 48px;
}
.flex-between.foldable{
  flex-direction: column;
}
/* Nav Section */


}


@media(max-width:576px) {
    /* Layouts */
    section{
    padding: 64px 24px;
}

.component-h>*{
  width: 100%;
}
.component-h,.component-h-2-1{
 flex-direction: column;
 gap: 32px;
}
.content-0{
  gap: 32px;
}
.content-1{
  gap: 24px;
}
.content-2{
  gap: 16px;
}
.content-3{
  gap: 8px;
}
.content-4{
  gap: 4px;
}
.content-5{
  gap: 2px;
}

.card-text{
  padding: 24px;
}
/* BUTTONS */


/* TEXT STYLES */
h1,h3,h4,h5{
  color: var(--accent);
}
h1{
font-size:32px ;
}
h2{
font-size: 28px;
font-weight: 400;
}
h3{
font-family: "Abril Fatface";
font-size: 24px;
font-weight: 400;
}
h4{
font-size: 20px;
font-weight: 500;
}
h5{
font-weight: 400;
font-size:18px;
}
.h5-medium{
font-size:16px;
font-weight:500;
}
.h5-bold
{
  font-weight: 600;
}
.h5-spaced{
font-weight: 500;
letter-spacing: 10%;
}
.paragraph{
font-weight: normal;
font-size: 14px;
}
.p-medium{
  font-size: 14px;
}
.p-small{
  font-size: 12px;
}
  

}
